   <label for="@FieldCaption" class="control-lable">@trs.GetTranslation(@FieldCaption,@AppData.ActiveUser,TransEntity)</label>  



@* Using Example:          
            <div class="form-group">
                <WrLebel TransEntity="Individual" FieldCaption="Code" ></WrLebel>  
                <input readonly=@readonlyMain1 class="form-control" id="Code" @bind="objIndividual.Code" /> 
            </div>   
 *@
@code  { 
    [Parameter] public string FieldCaption { get; set; }
    [Parameter] public string TransEntity { get; set; }
}
