<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
 
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Confirm delete</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
 
            <!-- Modal body -->
            <div class="modal-body">
                <input type="hidden" id="bookToDeleteField" bind=@DeleteId />
                Are you sure you want to delete book <span id="bookTitleField"></span>?
            </div>
 
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                @* <button type="button" class="btn btn-danger" onclick=@DeleteBook>Delete</button> *@
            </div>
 
        </div>
    </div>
</div>

@code
{

 [Parameter] public string DeleteId { get; set; }="1";  

protected void ConfirmDelete(int id, string title)
{
   
    Console.WriteLine("dsds");
    // DeleteId = id;
    //RegisteredFunction.Invoke<bool>("confirmDelete", title);
}
protected void DeleteBook()
{
 Console.WriteLine("dsds");
   // DeleteId = id;
    //RegisteredFunction.Invoke<bool>("confirmDelete", title);
}
}