@* <a  class="page-name">@PageName</a> *@
 &nbsp;&nbsp;<input readonly="true" class="page-name"  data-toggle="tooltip" title="@PageName"  @bind="@PageName"/>
@code {
    [Parameter]
    public string PageName { get; set; }
 

}
