@page "/IndOrg/ContactDelete/{CurrentID}"
@inject ContactController objContactController



<div class="fix-possition">
<PanelElemens>
<ControlQuickAccess>
         <input type="button" class="btn btn bnt-style-general" @onclick="@DeleteContact" value="Delete">
         <input type="button" class="btn btn bnt-style-general" @onclick="@Cancel" value="Cancel">
 </ControlQuickAccess>
</PanelElemens>
</div>
<div class="under-cls">
<h3>Are you sure want to delete this row?</h3
<div class="row under-cls">

    <div class="col-md-8 field-content">
  
        <div class="form-group">
            <label> Code:</label>
            <label>@objEmp.Code</label>
        </div>

        <div class="form-group">
            <label>Name:</label>
            <label>@objEmp.Name</label>
        </div>

    </div>
</div>
</div>

@code{
   [Parameter]
   public string CurrentID {get;set;}
    Contact objEmp= new Contact();

    protected override async Task OnInitializedAsync()
    {
    objEmp= await Task.Run(()=>objContactController.GetContactById(Convert.ToInt32(CurrentID)));        
    }
    
    protected void DeleteContact(){

        objContactController.DeleteContact(objEmp);
        NavManager.NavigateTo("/IndOrg/ContactViewStd/"+AppData.Individual_IdSelect);
    }
    void Cancel(){
        NavManager.NavigateTo("/IndOrg/ContactViewStd/"+AppData.Individual_IdSelect);
    }
}