@page "/TESTS/L22/CounterCallBeckEvent"

<h3>ParentComponent</h3>
<p class="test-header">  Getting current Count from child componet to the Parent </p>
Current Count: @currentCount

<CounterCallBeckEvent SetCurrentCount="SetCurrCntMeth"></CounterCallBeckEvent>
@code {
    private int currentCount;

    private void SetCurrCntMeth(int value) {
        currentCount = value;

    }


}
