@page "/TESTS/L22/SalesComponent"
@page "/TESTS/L22/Sales"

@inherits Data.TESTS.L22.DateTimeBaseComponent

<h3>SalesComponent</h3>
@*===================================================================*@
<p class="test-header"> Call another pages(Component) to this page </p>
<br />
<DateComponent></DateComponent>
<br />
@*===================================================================*@
<p class="test-header"> Call another pages(Component) to this page </p>


@*===================================================================*@
<p class="test-header"> Get the Value from the Class</p>
Date: @dateTime
<br />


<br />
@code {

}
