@page "/TESTS/L22/Sales2"

    <h3>Welcome to the Salse Department</h3>
    <TitleComponent Department="Sales"></TitleComponent>
@*===================================================================*@
<p class="test-header"> Salse Department </p>


<br />
@code {

}
