<div class="panel-elements">
    <div class="row ">
        <div class="col-md-4">
            <div class="form-group ">        
                <div class="dropdown" style="margin-right: 10px; margin-left: 10px">
                    <button class="btn btn-primary bnt-style-general"><span class="oi oi-media-play" aria-hidden="true"></span></button>
                    <div class="dropdown-content">
                        @ControlMenu
                     </div>
                </div>
                @ControlQuickAccess
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ControlMenu { get; set; }
    
    [Parameter]
    public RenderFragment ControlQuickAccess { get; set; }

}
