@page "/"
<br><br><br>
<p><center><h1> @trs.GetTranslation("Welcome",@AppData.ActiveUser,"General")!</h1></center></p>
@code  {
protected override void OnInitialized()
//protected override async Task OnInitializedAsync()
{
    AppData.BaseUrlUri=NavManager.Uri.ToString(); 

}
}

    





