@page "/MainMenu"

<AuthorizeView>
    <Authorized>
      <WrQuestOrMsg SpaceLength=5 TxtSize="h3" Txt="MainMenu"/>
    </Authorized>
    <NotAuthorized>
        @* Nothing *@
    </NotAuthorized>
</AuthorizeView>

 <div>
        <ul class="nav flex-column">
         <WrLi PageName="Index" Link="" Match="NavLinkMatch.All" FieldCaption="Home" />
         <WrLi PageName="ApplicationRoleViewStd" Link="Adm/ApplicationRole/ViewStd/0"  TransEntity="Adm"/>
         <WrLi PageName="ApplicationUserViewStd" Link="Adm/ApplicationUser/ViewStd/0"  TransEntity="Adm"/>
         <WrLi PageName="GenderViewStd" Link="Dir/Gender/ViewStd/0"  TransEntity="Dir"/>
         <WrLi PageName="CountryViewStd" Link="Dir/Country/ViewStd/0"  TransEntity="Dir"/>
         <WrLi PageName="ContactViewStd" Link="Dir/Contact/ViewStd/0"  TransEntity="Individual"/>
         <WrLi PageName="IndividualViewStd" Link="IndOrg/Individual/ViewStd/0" TransEntity="Individual"/>

         @*     
         <WrLi Authorize="false" PageName="IndividualViewStdClassic" 
                           Link="IndOrg/IndividualViewStdClassic"/> 

         <WrLi PageName="TestUserAPI" Link="/api/User" /> 
         *@
         </ul>
    </div>
@code  {
protected override void OnInitialized()
{
}
}

    





