@inherits LayoutComponentBase

<div class="sidebar"> 
    <NavMenu /> 
</div>

<div class="main">

    @*<div>class="top-row px-4 auth"* </div>@
        @* 1) I Commented this: <LoginDisplay />*@
    @* <a href="https://docs.microsoft.com/aspnet/" target="_blank">about</a>*@

     @* class="content px-2" *@
    <div class="content-gen"> 
        @Body
    </div>
</div>
